@*﻿
<div class="modal fade" id="Encounter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Select Type Of Care</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <a asp-action="HouseCall" asp-controller="Provider" asp-route-id="@ViewBag.reqid"><button class="btn btn-white text-info border-info me-md-2" type="button">Housecall</button></a>
                    <a asp-action="ConsultCall" asp-controller="Provider" asp-route-id="@ViewBag.reqid"><button class="btn btn-white text-info border-info" type="button">Consult</button></a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white">Save</button>
                <button type="button" class="btn btn-white text-info border-info" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>*@
<script>
    $(document).ready(function () {
        var myModalAssign = new bootstrap.Modal(document.getElementById('Encounter'));
        myModalAssign.show();
    });
</script>
<div class="modal fade" id="Encounter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-title text-light" id="exampleModalLongTitle">Select Type Of Care</div>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <form action="">
                <input type="hidden" name="" id="redirect-value" value="HouseCall">
                <div class="modal-body">
                    <div class="modal-flex text-center mt-3">
                        <div class="btn btn-info common-btn cancel-btn create-request-active" onclick="toggleButton(this,'HouseCall')">HouseCall</div>
                        <div class="btn common-btn cancel-btn" onclick="toggleButton(this,'ConsultCall')">Consult</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info continue-btn" onclick="redirect()">Continue</button>
                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const toggleButton = (curr_btn, redirect_page) => {
        const buttons = document.getElementsByClassName("common-btn")
        for (let i = 0; i < buttons.length; ++i) {
            if (buttons[i] != curr_btn) {
                buttons[i].classList.remove('btn-info')
            } else {
                buttons[i].classList.add('btn-info')
            }
        }
        // document.getElementById("redirect-value").value = 'SubmitForMePatient';
        document.getElementById("redirect-value").value = redirect_page;
    }
    const redirect = () => {
        window.location.assign(`./${document.getElementById("redirect-value").value}?id=` + @ViewBag.reqid);
    }
</script>