@model HalloDocWebEntity.Data.Requestclient
<div class="modal fade" id="sendAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Send Agreement</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col text-muted">
                        <p>
                            @switch (@ViewBag.reqType)
                            {
                                case 1:
                                    <i class="fa-solid fa-circle fa-xs me-2" style="color: #DF657A;"></i> <span>Business</span>
                                    break;
                                case 2:
                                    <i class="fa-solid fa-circle fa-xs me-2" style="color: #5FBC61;"></i> <span>Patient</span>
                                    break;
                                case 3:
                                    <i class="fa-solid fa-circle fa-xs me-2" style="color: #DE943D;"></i>
                                    <span>Friend/Family</span>
                                    break;
                                case 4:
                                    <i class="fa-solid fa-circle fa-xs me-2" style="color: #007FC6;"></i>
                                    <span>Concierge</span>
                                    break;
                            }
                        </p>
                        To Send Agreement Please make sure you are updating the correct contact information below for the responsible party.
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" value="@Model.Phonenumber" id="floatingInput" placeholder="Phone Number">
                            <label for="floatingInput">Phone Number</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" value="@Model.Email" id="email" placeholder="Email address">
                            <label for="floatingInput">Email address</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-action="sendMailAgreement" asp-controller="Admin" asp-route-id="@Model.Requestid"><button type="button" class="btn btn-info text-white">Send</button></a>
                <button type="button" id="cancelbtn" class="btn btn-white border-info text-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var myModal = new bootstrap.Modal(document.getElementById('sendAgreementModal'));
        myModal.show();
    });
    $("#cancelbtn").click(function () {
        $("#modalpopup").remove();
        $(".modal-backdrop").remove()
        location.reload();
    });
</script>
