@model Assignment_WebEntity.ViewModal.BookFormViewModel
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!-- Modal -->
<div class="modal fade" id="bookForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <form asp-action="AddOrEditBookForm" asp-controller="Home">
                <div class="modal-header  text-white" style="background-color:#326C9B;">
                    <h5 class="modal-title" id="exampleModalLabel">Book Form</h5>

                </div>
                <div class="modal-body">

                    <div class="container">
                        <div class="row">
                            <input type="hidden" asp-for="bookId" />
                            <div class="col-6 my-2">
                                <input type="text" asp-for=bookName class="form-control p-3 needs-validation" id="bookName" placeholder="Book Name">
                                <span asp-validation-for="bookName" class="text-danger"></span>
                            </div>
                            <div class="col-6 my-2">
                                <input type="text" asp-for=authorName class="form-control p-3 needs-validation" id="author" placeholder="Author">
                                <span asp-validation-for="authorName" class="text-danger"></span>
                            </div>
                            <div class="col-6 my-2">
                                <input type="text" asp-for=borroweName class="form-control p-3 needs-validation" id="borroweName" placeholder="Borrower Name">
                                <span asp-validation-for="borroweName" class="text-danger"></span>
                            </div>
                            <div class="col-6 my-2">
                                <input type="date" asp-format="{0:yyyy-MM-dd}" name="dateOfIssue" class="form-control p-3 needs-validation" id="dateOfIssue" placeholder="Date Of Issue">
                                <span asp-validation-for="dateOfIssue" class="text-danger"></span>
                            </div>
                            <div class="col-6 my-2">
                                <select class="form-select p-3 needs-validation" id="genereSelect" asp-for=genereID >
                                    
                                    @foreach (var item in Model.genereList)
                                    {
                                        <option value="@item.Id">@item.Generename</option>
                                    }
                            

                                </select>
                                <span asp-validation-for="genereID " class="text-danger "></span>
                            </div>
                            <div class="col-6 my-2">
                                <input type="text" class="form-control p-3 needs-validation" id="city" asp-for=city placeholder="City">
                                <span asp-validation-for="city" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 my-2">
                                <button type="button" class="btn btn-white shadow w-100 p-2" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            <div class="col-6 my-2">
                                <button type="submit" style="background-color:#326C9B;" class="btn text-white p-2 w-100">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var myModalblock = new bootstrap.Modal(document.getElementById('bookForm'));
        myModalblock.show();
    });
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>