@model HalloDocWebEntity.ViewModel.AdminDashBoardPagination
<style>
    .iti {
        width: 100%;
    }
    #phone, #phone1 {
        height: 58px;
    }
</style>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<div class="modal fade" id="SendLinkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel">Send Mail to patient for submitting request</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="SendLink" asp-controller="Provider">
                    <div class=" form-floating mb-3 text-muted">
                        <input asp-for="Fname" type="text" class="form-control needs-validation" placeholder="Firstname" required>
                        <label for="exampleFormControlInput1" class="form-label">Firstname</label>
                        <span asp-validation-for=Fname class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 text-muted">
                        <input asp-for="Lname" type="text" class="form-control" placeholder="Lastname">
                        <label for="exampleFormControlInput1" class="form-label">Lastname</label>
                        <span asp-validation-for=Lname class="text-danger"></span>
                    </div>
                    <div class=" form-floating mb-3 text-muted">
                        <input asp-for="PhoneNumber" id="phone" class="form-control inp2" type="text" placeholder="Phone Number">
                        <span asp-validation-for=PhoneNumber class="text-danger"></span>
                    </div>
                    <div class=" form-floating mb-3 text-muted">
                        <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="Email">
                        <label for="Email" class="form-label">Email</label>
                        <span asp-validation-for=Email class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info text-white">Send</button>
                        <button type="button" class="btn btn-white text-info border-info" data-bs-dismiss="modal">cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var myModalblock = new bootstrap.Modal(document.getElementById('SendLinkModal'));
        myModalblock.show();
    });
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, { utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js", });
</script>