@model HalloDocWebEntity.ViewModel.UserAccess
<table class="table">
    <thead>
        <tr class="bg-light text-muted h-100">
            <th scope="col">Account type</th>
            <th scope="col">Account POC</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col">Open Requests</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="text-muted">

        @foreach (var item in Model.Aspnetuser)
        {
            <tr>
                <td>
                    @switch (item.Role)
                    {
                        case 1:
                            <span>Admin</span>
                            break;
                        case 3:
                            <span>Physician</span>
                            break;
                    }
                </td>
                <td>@item.Usarname </td>
                <td>@item.Phonenumber</td>
                <td>
                    @if (item.Admins.Count != 0 && item.Admins !=null)
                    {
                        @switch (item.Admins.FirstOrDefault().Status)
                        {
                            case 1:
                                <span>Pending</span>

                                break;
                            case 2:
                                <span>
                                    Active
                                </span>
                                break;
                            case 3:
                                <span>
                                    InActive
                                </span>
                                break;
                        }
                    }
                    @if (item.Physicians.Count != 0 && item.Physicians !=null)
                    {
                        @switch (item.Physicians.FirstOrDefault().Status)
                        {
                            case 1:
                                <span>Pending</span>

                                break;
                            case 2:
                                <span>
                                    Active
                                </span>
                                break;
                            case 3:
                                <span>
                                    InActive
                                </span>
                                break;
                        }
                    }
                </td>
                <td>0</td>
                <td>
                    @if (item.Role == 1)
                    {
                        <a asp-action="AdminDashboardMyProfile" asp-controller="Admin" asp-route-id="@item.Admins.FirstOrDefault().Adminid"><button type="button" class="btn btn-outline-info">Edit</button></a>
                    }
                    else
                    {
                        <a asp-action="EditProviderDetail" asp-controller="Admin" asp-route-id="@item.Physicians.FirstOrDefault().Physicianid" asp-route-username="access"><button type="button" class="btn btn-outline-info">Edit</button></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>