@model HalloDocWebEntity.ViewModel.SendOrderModel
@{
    Layout = "_AdminHeader";
}
<div class="container ">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex justify-content-between mt-3">
                <h4 class="mt-3">Add Business</h4>
                <a class="text-start text-info text-decoration-none " href="javascript:void(0);" onclick="history.go(-1);">
                    <button class="btn btn-white  text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>
            <form asp-action="AddVendor" asp-controller="Admin" method="post">
                <div class="container rounded bg-white shadow-lg py-4">
                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Submit Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Vendorname id="businessContact" type="text" class="form-control" placeholder="Business Name">
                            <label for="exampleFormControlInput1" class="form-label ps-4">Business Name</label>
                            <span asp-validation-for="Vendorname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <select class="form-select" id="ProfessionSelect" asp-for=@Model.SelectedProfession>
                                <option value="0">select</option>
                                @foreach (var item in Model.professions)
                                {
                                    <option value="@item.Healthprofessionalid">@item.Professionname</option>
                                }
                            </select>
                            <label for="ProfessionSelect" class="form-label ps-4">Select Profession</label>
                            <span asp-validation-for="SelectedProfession" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=FaxNumber type="text" class="form-control" id="faxNumber" placeholder="Fax Number">
                            <label for="exampleFormControlInput1" class="form-label ps-4">Fax Number</label>
                            <span asp-validation-for="FaxNumber" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 form-floating mb-3 text-muted ">
                            <input asp-for=Phonenumber type="tel" class="form-control" id="phone" placeholder="Enter Phone Number" style="height:58px" aria-label=".form-control-lg example">
                            <label for="phone" class="form-label ps-4">Enter Phone Number</label>
                            <span asp-validation-for="Phonenumber" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=email type="email" class="form-control" id="email" placeholder="Email">
                            <label for="email" class="form-label ps-4">Email</label>
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=businesscontact id="businessContact" type="text" class="form-control" placeholder="Business contact">
                            <label for="exampleFormControlInput1" class="form-label ps-4">Business contact</label>
                            <span asp-validation-for="businesscontact" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6 form-floating col-md-6 mb-3 text-muted">
                            <input asp-for="Address" id="street" type="text" class="form-control" placeholder="Business contact">
                            <label for="exampleFormControlInput1" class="form-label ps-4">
                                Street
                            </label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6 form-floating col-md-6 mb-3 text-muted">
                            <input asp-for=City id="city" type="text" class="form-control" placeholder="Business contact">
                            <label for="exampleFormControlInput1" class="form-label ps-4">
                                City
                            </label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 form-floating mb-3 text-muted">
                            <input asp-for=State id="state" type="text" class="form-control" placeholder="Business contact">
                            <label for="state" class="form-label ps-4">State</label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-lg-6 col-md-6 form-floating mb-3 text-muted">
                            <input asp-for=Zip class="form-control" id="zip" type="text" placeholder="Zip/Postal" />
                            <label for="zip" class="form-label ps-4">Zip/Postal</label>
                            <span asp-validation-for="Zip" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="text-end pb-3">
                        <button class="btn btn-info me-2 text-white" type="submit">Save</button>
                        <a class="btn btn-white text-info border-info" type="reset" asp-action="AdminDashboardPartners">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("partners").classList.add("active");
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}