@model  HalloDocWebEntity.ViewModel.AdminProviderModel
@{
    Layout = "_AdminHeader";
}

<style>
    .iti {
        width: 100%;
    }

    #phone, #phone1 {
        height: 58px;
    }

    .nav-underline .nav-link.active {
        color: #5bc0de !important;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <h4 class="mt-3">Create Physician Account</h4>
                <a class="text-start text-info text-decoration-none ">
                    <button class="btn btn-white  text-info border-info rounded ">
                        <i class="fa-solid  fa-less-than"></i> Back
                    </button>
                </a>
            </div>

            <div class="container rounded bg-white shadow py-3">

                <form enctype="multipart/form-data" id="enable" method="post" asp-action="CreateProviderAdmin" asp-controller="Admin">

                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Physician Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Firstname type="text" class="form-control dclass" id="exampleFormControlInput1" placeholder="Firstname">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Firstname</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Lastname  type="text" class="form-control dclass" id="exampleFormControlInput1" placeholder="Lastname">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Lastname</label>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Email type="email" class="form-control dclass" id="email" placeholder="Email">
                            <label for="email" class="form-label ms-2">Email</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Mobile id="phone" class="form-control inp2 dclass" type="tel" placeholder="Phone Number">
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Medicallicense type="text" class="form-control dclass" id="exampleFormControlInput1" placeholder="Lastname">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Medical Licence</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Npinumber type="text" class="form-control dclass" id="exampleFormControlInput1" placeholder="NPI Number">
                            <label for="exampleFormControlInput1" class="form-label ms-2">NPI Number</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Syncemailaddress type="email" class="form-control dclass" id="exampleFormControlInput1" placeholder="Synchronization Email Address">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Synchronization Email Address</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input dclass" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">District Of Columbia</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input dclass" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">New York</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input dclass" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">Virginia</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input dclass" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox4">Maryland</label>
                            </div>
                        </div> 
                    </div>


                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Mailing & Billing Information
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Address1 type="text" class="form-control d1class" id="Address-1" placeholder="Address 1">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Address 1</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Address2 type="text" class="form-control d1class" id="Address-2" placeholder="Address 2">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Address 2</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input asp-for=City type="text" class="form-control d1class" id="city" placeholder="City">
                            <label for="exampleFormControlInput1" class="form-label ms-2">City</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input  type="text" class="form-control d1class" id="state" placeholder="State">
                            <label for="exampleFormControlInput1" class="form-label ms-2">State</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                            <input asp-for=Zip type="text" class="form-control d1class" id="zipcode" placeholder="Zip Code">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Zip Code</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Altphone id="phone1" class="form-control inp2 d1class" type="tel" placeholder="Phone Number">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Provider Profile
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Businessname type="text" class="form-control d2class" id="Address-1" placeholder="Business Name">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Business Name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                            <input asp-for=Businesswebsite type="text" class="form-control d2class" id="Address-2" placeholder="Business Website">
                            <label for="exampleFormControlInput1" class="form-label ms-2">Business Website</label>
                        </div>
                        <fieldset id="upload" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="input-group mb-3 ">
                                <input type="file" class="form-control d2class" id="inputGroupFile02" asp-for="Photo">
                                <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                                    <label class="btn btn-info text-white mx-0">
                                        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                                        Upload
                                    </label>

                                </label>
                            </div>
                        </fieldset>
                        <fieldset id="upload1" class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="input-group mb-3 ">
                                <input type="file" class="form-control d2class" id="inputGroupFile02">
                                <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                                    <label class="btn btn-info text-white mx-0">
                                        <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                                        Upload
                                    </label>

                                </label>
                            </div>
                        </fieldset>
                        <div class="col-2 mb-3">
                            <button class="btn btn-info text-white">
                                <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                                <span>Create</span>
                            </button>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea  asp-for=Adminnotes class="form-control d2class" placeholder="Admin Notes" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2" class="ms-2">Admin Notes</label>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-12 h5 mb-3">
                            Onboarding
                        </div>
                        <div class="form-check mb-3 col-6 mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="1" >
                            <label class="form-check-label" for="1">
                                Independent Contractor Agreement
                            </label>
                            <fieldset id="upload" class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="input-group mb-3 ">
                                    <input type="file" class="form-control d2class" id="inputGroupFile02" asp-for="AgreementDoc">
                                    <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                                        <label class="btn btn-info text-white mx-0">
                                            <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                                            Upload
                                        </label>

                                    </label>
                                </div>
                            </fieldset>
                        </div>
                     @*   <div class="d-grid gap-2 d-md-block col-6 mb-3">
                            <button class="btn btn-info text-white" type="button">Upload</button>
                            <button class="btn btn-info text-white" type="button">View</button>
                        </div>*@
                        <div class="form-check mb-3 col-6 mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="2"  >
                            <label class="form-check-label" for="2">
                                Background Check
                            </label>
                            <fieldset id="upload" class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="input-group mb-3 ">
                                    <input type="file" class="form-control d2class" id="inputGroupFile02" asp-for="backgroundDoc">
                                    <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                                        <label class="btn btn-info text-white mx-0">
                                            <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                                            Upload
                                        </label>

                                    </label>
                                </div>
                            </fieldset>
                        </div>
                      @*  <div class="d-grid gap-2 d-md-block col-6 mb-3">
                            <button class="btn btn-info text-white" type="button">Upload</button>
                            <button class="btn btn-info text-white" type="button">View</button>
                        </div>*@
                        <div class="form-check mb-3 col-6 mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="3"  >
                            <label class="form-check-label" for="3">
                                HIPAA Compilance
                            </label>
                            <fieldset id="upload" class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="input-group mb-3 ">
                                    <input type="file" class="form-control d2class" id="inputGroupFile02" asp-for="TrainingDoc">
                                    <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                                        <label class="btn btn-info text-white mx-0">
                                            <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                                            Upload
                                        </label>

                                    </label>
                                </div>
                            </fieldset>
                        </div>
              @*          <div class="d-grid gap-2 d-md-block col-6 mb-3">
                            <button class="btn btn-info text-white" type="button">Upload</button>
                            <button class="btn btn-info text-white" type="button">View</button>
                        </div>*@
                        <div class="form-check mb-3 col-6 mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="4">
                            <label class="form-check-label" for="4">
                                Non-Disclosure Agreement
                            </label>
                            <fieldset id="upload" class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="input-group mb-3 ">
                                    <input type="file" class="form-control d2class" id="inputGroupFile02" asp-for="NonDisclosure">
                                    <label class="input-group-text text-muted p-0" for="inputGroupFile02">
                                        <label class="btn btn-info text-white mx-0">
                                            <i class="fa-solid fa-cloud-arrow-up" style="color: #ffffff;"></i>
                                            Upload
                                        </label>

                                    </label>
                                </div>
                            </fieldset>
                        </div>
                      @*  <div class="d-grid gap-2 d-md-block col-6 mb-3">
                            <button class="btn btn-info text-white" type="button">Upload</button>
                            <button class="btn btn-info text-white" type="button">View</button>
                        </div>*@
      
                       @* <div class="d-grid gap-2 d-md-block col-6 mb-3">
                            <button class="btn btn-info text-white" type="button">Upload</button>
                            <button class="btn btn-info text-white" type="button">View</button>
                        </div>*@
                    </div>
                    <hr />
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-info text-white me-md-2" type="submit">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("provider1").classList.add("active");

    const input = document.querySelector("#phone");
    const input2 = document.querySelector("#phone1");
    const button = document.querySelector("#btn");
    const errorMsg = document.querySelector("#error-msg");
    const validMsg = document.querySelector("#valid-msg");

    // here, the index maps to the error code returned from getValidationError - see readme
    const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

    // initialise plugin
    const iti = window.intlTelInput(input, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });
    const iti1 = window.intlTelInput(input2, {
        initialCountry: "us",
        utilsScript: "/intl-tel-input/js/utils.js?1706723638591"
    });



</script>
