@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    
}

<div class="max-vh-100 min-vw-100 " id="light-theme"></div>
<div class=" w-100 d-flex align-items-center justify-content-center h-100">
    <img src="~/images/accessDenied.png" class="vh-100 w-100 img-fluid" style="max-width: 100%;       height: 50%;" />
</div>



