@model HalloDocWebEntity.ViewModel.loginModel
@{
    ViewData["Title"] = "Create Account Page";

    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/css/style-patient.css">
</head>


<body>
    <!-- --------------------------------------Main container--------------------------------------------- -->

    <div class="container d-flex justify-content-center   align-items-center min-vh-100 ">
        <div class="min-vh-100 min-vw-100 login-bg" id="light-theme"></div>
        <div class="min-vh-100 min-vw-100 login-bg-dark" id="dark-theme"></div>
        <div class="row">
            <div class="col">
                <div class="row ">
                    <div class="col text-end">
                        <button class="theme-btn " onclick="changeTheme()">
                            <i class="fa-regular fa-moon fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="col text-center">
                    <img class="logo-icon mb-5 " src="~/images/lobgin-logo.png" alt="logo">
                </div>
                <strong><a class="text-start text-info  mt-5" style="text-decoration: none;" asp-action="Index" asp-controller="Home"> < Back</a></strong>
                <h2>Login To Your Account</h2>

                <form asp-action="CreateAccount" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mt-2 row">
                        <div class="col form-floating text-muted ">
                            <input type="hidden" asp-for="Usarname" />
                            <input asp-for="Usarname" type="text" class="form-control input-placeholder" id="Username" placeholder="" disabled>
                            <label asp-for="Usarname" class="form-label ms-2 ps-3">Username</label>
                            <i class="fa-regular fa-circle-user text-secondary icon me-2"></i>


                        </div>
                        <span asp-validation-for="Usarname" class="text-danger"></span>

                    </div>

                    <div class="form-group mt-3 row">
                        <div class="col form-floating text-muted">

                            <input asp-for="Passwordhash" type="password" class="form-control input-placeholder " id="inputPassword" placeholder="">
                            <label asp-for="Passwordhash" class="form-label ms-2 ps-3">Password</label>
                           @* <i class="fa-regular fa-eye text-secondary icon me-2" id="showEye" style="display:none" onclick="showHidePassword()"></i>
                            <i class="fa-solid fa-eye-slash text-secondary icon me-2" id="hideEye" style="display:block" onclick="showHidePassword()"></i>*@

                            <span asp-validation-for="Passwordhash" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group mt-3 row">
                        <div class="col form-floating text-muted">

                            <input asp-for="confirmPassword" type="password" class="form-control input-placeholder " id="inputPassword" placeholder="">
                            <label asp-for="confirmPassword" class="form-label ms-2 ps-3">Password</label>
                            <i class="fa-regular fa-eye text-secondary icon me-2" id="showEye" style="display:none" onclick="showHidePassword()"></i>
                            <i class="fa-solid fa-eye-slash text-secondary icon me-2" id="hideEye" style="display:block" onclick="showHidePassword()"></i>

                            <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row justify-content-center mb-2 ">
                        <div class="col">
                            <input type="submit" value="Create" class="btn btn-info text-light w-100 mt-2">
                        </div>
                    </div>

                </form>
                <footer class="text-center text-lg-center bg-body-tertiary bg-transparent text-muted footer-bottom">
                    <span>Terms and Conditions | Privacy Policy</span>
                </footer>
            </div>
        </div>





    </div>
    <script>
        function changeTheme() {
            if ($('#light-theme').css('display') == 'none') {
                document.querySelector(".login-bg").style.display = "block";
                document.querySelector(".login-bg-dark").style.display = "none";
            }
            else {
                document.querySelector(".login-bg").style.display = "none";
                document.querySelector(".login-bg-dark").style.display = "block";
            }

        }
        function showHidePassword() {
            let temp = document.getElementById("inputPassword");
            let eyeshow = document.getElementById("showEye");
            let eyehide = document.getElementById("hideEye");
            if (temp.type === "password") {
                temp.type = "text";
                eyeshow.style.display = "block";
                eyehide.style.display = "none";
            }
            else {
                temp.type = "password";
                eyeshow.style.display = "none";
                eyehide.style.display = "block";
            }
        }

    </script>

</body>

</html>


