
@{
    Layout = "_AfterLogin";
}

<div class="container text-end mt-3">
    <a class="text-start text-info text-decoration-none " asp-controller="Home" asp-action="patientdashboard">
        <button class="btn btn-white  text-info border-info rounded ">
            <i class="fa-solid  fa-less-than"></i> Back
        </button>
    </a>
</div>

<form method="post" asp-action="RequestForsSomeone">
    <div class="container bg-white rounded mt-3">
        <div class="row">
            <div class="col-12 h3 mb-3 mt-3">
                Patient Information
            </div>
            <div class="form-floating mb-3 text-muted">
                <textarea name="symptoms" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" class="ps-4">Enter Brief Details Of Symptoms</label>
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input   name="first_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Firstname" >
                <label for="exampleFormControlInput1" class="form-label ps-4">First name</label>
                @*<span asp-validation-for="first_name" class="text-danger"></span>*@
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input name="last_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Lastname" >
                <label for="exampleFormControlInput1" class="form-label ps-4">last name </label>
                @*<span asp-validation-for="last_name" class="text-danger"></span>*@
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input  type="date" name="dob" class="form-control" id="exampleFormControlInput1" placeholder="Date Of Birth">
                <label for="exampleFormControlInput1" class="form-label ps-4">Date Of Birth</label>
                @*<span asp-validation-for="dob" class="text-danger"></span>*@
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Contact Information
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input  name="email" type="email" class="form-control" id="email" onblur="emailExists()" placeholder="Email" >
                <label for="email" class="form-label ps-4">Email</label>
                @*<span asp-validation-for="email" class="text-danger"></span>*@
            </div>
            @* <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
            <input asp-for="Mobile" id="phone" class="form-control inp2" type="tel" placeholder="Phone Number">
            </div> *@
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                <input  name="phonenumber" type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number" >
                <label for="exampleFormControlInput1" class="form-label ps-4">Phone Number</label>
                @*<span asp-validation-for="phonenumber" class="text-danger"></span>*@
            </div>
        </div>
        <div class="row">
            <div class="col-12 h3 mb-3">
                Patient Location
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 form-floating  mb-3 text-muted">
                <input type="text" name="street" class="form-control" id="exampleFormControlInput1" placeholder="Street">
                <label for="exampleFormControlInput1" class="form-label ps-4">Street</label>
                @*<span asp-validation-for="street" class="text-danger"></span>*@
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" name="city" class="form-control" id="exampleFormControlInput1" placeholder="City">
                <label for="exampleFormControlInput1" class="form-label ps-4">City</label>
                @*<span asp-validation-for="city" class="text-danger"></span>*@
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" name="state" class="form-control" id="exampleFormControlInput1" placeholder="State">
                <label for="exampleFormControlInput1" class="form-label ps-4">State</label>
                @*<span asp-validation-for="state" class="text-danger"></span>*@
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" name="zipcode" class="form-control" id="exampleFormControlInput1" placeholder="Zip Code">
                <label for="exampleFormControlInput1" class="form-label ps-4">Zip Code</label>
                @*<span asp-validation-for="zipcode" class="text-danger"></span>*@
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                <input type="text" name="room" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
                <label for="exampleFormControlInput1" class="form-label ps-4">Room # / (Suite Optional)</label>
                @*<span asp-validation-for="room" class="text-danger"></span>*@
            </div>
            <div class="col-sm-12 col-md-6 col-xl-6 mb-3">
                <button class="btn btn-white border-info text-info " id="inp2"><i class="fa-solid fa-location-dot me-1"></i>Map</button>
            </div>
        </div>
        <div class="row">
            <div class="col h3 mb-3">
                Relation
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
            <input type="text" name="relation" class="form-control" id="exampleFormControlInput1" placeholder="Firstname">
            <label for="exampleFormControlInput1" class="form-label ps-4">Relation With patient(Optional)</label>
            @*<span asp-validation-for="room" class="text-danger"></span>*@
        </div>
        <div class="row">
            <div class="col h3 mb-3">
                (Optional) Upload Photo or Document
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="col">
                        <p>
                            <div style="position:absolute; height:45px; width : 110px; text-align:justify-all;z-index : 999 !important;" class="bg-info p-2 text-light rounded-1 align-items-center">
                               
                                    <i class="fa-solid fa-cloud-arrow-up"
                                       style="color: #ffffff; border-radius: 0px 5px 5px 0px; "></i>
                                    <span >Upload</span>
                            </div>
                            <input type="File" class="form-control input-placeholder " name="fileToUpload" id="fileToUpload"
                                   placeholder="Select File">
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-end pb-3">
            <button  class="btn btn-info me-2 text-white" type="submit">Submit</button>
            <button class="btn btn-white text-info border-info" type="reset">reset</button>
        </div>
    </div>
</form>

<script>
    document.getElementById("dashbrd").classList.add("active");
</script>