@model HalloDocWebEntity.ViewModel.PatientRequest
@{
    Layout = "_MyLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta asp-for="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/style-patient.css">
</head>
<style>
    .iti {
        width: 100%;
    }

    #phone, #phone1 {
        height: 58px;
    }
</style>
<body style="background-color: rgb(248, 248, 248); align-items: center;">
    <!-- --------------------------------------Main container--------------------------------------------- -->
    <div class="container d-flex justify-content-center pt-3  min-vh-100 ">
        <div class="row mt-5">
            <div class="col-12">
                <div class="row mb-3">
                    <div class="col text-end">
                            <a  class="text-info bg-transparent border-info px-2 mt-5 py-1 btn" asp-action="SubmitPatientRequest" asp-controller="Home">
                                < Back
                            </a>
                    </div>
                </div>
                <div class="container-fluid margin-header rounded shadow " style="background-color: white;">
                    <form enctype="multipart/form-data" asp-action="CreatePatient" asp-controller="Home">
                        <div class="row">
                            <div class="col mt-3"> <label class="h5">Patient Information</label></div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-sm-12 col-md-12 mt-2">
                                <textarea class="form-control" asp-for="symptoms" placeholder="Enter Brief Details Of Symptoms" rows="5"
                                          ></textarea>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                    <input type="text" class="form-control"  id="fname"
                                           placeholder="" asp-for="first_name" >
                                <label class="form-label ms-2 ps-4" for="fname">First Name</label>
                                    <span asp-validation-for="first_name" class="text-danger"></span>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="text" class="form-control " id="lname"
                                           placeholder="" asp-for="last_name" >
                                <label class="form-label ms-2 ps-4" for="lname">Last Name</label>
                                    <span asp-validation-for="last_name" class="text-danger"></span>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                    <input type="date" class="form-control " id="dob"
                                           placeholder="" asp-for="dob" >
                                <label class="form-label ms-2 ps-4" for="dob">Date Of Birth</label>
                                <span asp-validation-for="dob" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-3"> <label class="h5">Patient Contact Information</label></div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="email" class="form-control " id="user_email" onchange="emailExists()" placeholder="" asp-for="email_user" >
                                <label class="form-label ms-2 ps-4" for="user_email"> Email</label>
                                    <span asp-validation-for="email_user" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="tel" class="form-control " id="phone"
                                       placeholder=" Mobile number" asp-for="phone">
                               
                                    <span asp-validation-for="phone" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-sm-12 col-md-6 form-floating text-muted mt-3" id="pwd_div" style="display:none;">
                                    <input type="password" class="form-control " id="password"
                                           placeholder="" asp-for="password">
                                <label class="form-label ms-2 ps-4" for="password">Password</label>
                                    <span asp-validation-for="password" class="text-danger"></span>
                            </div>
                            <div class="col-xl-6 col-sm-12 col-md-6 form-floating text-muted mt-3" id="con_pwd_div" style="display:none;">
                                    <input type="password" class="form-control " id="confirmPassword"
                                           placeholder="" asp-for="con_password" >
                                <label class="form-label ms-2 ps-4" for="con_password">Confirm Password</label>
                                <span asp-validation-for=con_password class="text-danger" id="errorspan" ></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-3"> <label class="h5">Patient Location</label></div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="text" class="form-control " id="street"
                                           placeholder="" asp-for="street" >
                                <label class="form-label ms-2 ps-4" for="street">Street</label>
                                    <span asp-validation-for="street" class="text-danger"></span>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="text" class="form-control " id="city"
                                           placeholder="" asp-for="city" >
                                <label class="form-label ms-2 ps-4" for="city">City</label>
                                    <span asp-validation-for="city" class="text-danger"></span>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="text" class="form-control " id="username"
                                           placeholder="" asp-for="state" >
                                <label class="form-label ms-2 ps-4" for="fname">State</label>
                                    <span asp-validation-for="state" class="text-danger"></span>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="text" class="form-control " id="username"
                                           placeholder="" asp-for="zip_code" >
                                <label class="form-label ms-2 ps-4" for="fname">Zip Code</label>
                                    <span asp-validation-for="zip_code" class="text-danger"></span>
                            </div>
                            <div class="col-xl-4 col-sm-12 col-md-6 form-floating text-muted mt-3">
                                <input type="text" class="form-control " id="username"
                                           placeholder="" >
                                <label class="form-label ms-2 ps-4" for="fname">Room # /Suite (Optional)</label>
                            </div>
                            <div class="row">
                                <div class="col mt-3">
                                    <label class="h5">(Optional) Upload Photo or Document</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col text-muted">
                                    <p>
                                        <span style="position:absolute;left:0; height:46px; width:110px" class="btn btn-info text-light text-start">
                                            <i class="fa-solid fa-cloud-arrow-up"
                                               style="color: #ffffff; border-radius: 0px 5px 5px 0px; "></i><span class=" ms-2 ">Upload</span>
                                        </span>
                                        <input type="File" class="form-control  input-placeholder" asp-for="fileToUpload" id="fileToUpload"
                                               placeholder="Select File">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row text-end mb-5">
                            <div class="col">
                                <button class="btn btn-info text-white mb-4 " type="submit">Submit</button>
                                <button class="btn btn-outline-info mb-4 ms-3" onclick="clickbtn()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <footer class="text-center  text-light bg-secondary footer-bottom ">
                    <span class="text-center">Terms and Conditions | Privacy Policy</span>
                </footer>
            </div>
        </div>
    </div>
    <script>
        let c = 1;
        function clickbtn() {
            window.location.href = "/Home/SubmitPatientRequest";
        }
        function emailExists(){
            var email = document.getElementById("user_email").value;
            fetch('/Home/RequestPatient/' + email)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (!data.exists) {
                        document.getElementById('pwd_div').style.display = 'block';
                        document.getElementById('con_pwd_div').style.display = 'block';
                    }
                    else  {
                        document.getElementById('pwd_div').style.display = 'none';
                        document.getElementById('con_pwd_div').style.display = 'none';
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, { utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js", });

    </script>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
